  .Leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -260px;
    width: 600px;
    height: 100px;
    z-index: -2;
  }

  .Leaderboard table{
    display: table;
    border: black;
    border-spacing: 2px;
    margin-top: 30px;
    margin-left: -70px;
  }

  .Leaderboard table tr th{
    padding: 20px;
    border: 1px solid black;
  }

  .Leaderboard table tr td{
    padding: 20px;
    border: 1px solid black;
    width: 1000px;
  }

