
  
  /* Leaderboard.css */
  .leaderboard-container {
    margin-top: 20px;
  }
  
  .leaderboard-search {
    margin-bottom: 20px;
    color: #F79540;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .leaderboard-table th {
    background-color: #f2f2f2;
  }